#app{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
#activate{
	width: 50%;
	min-height: 250px;
	background-color: #000;
	text-align: center;
	line-height:250px;
	font-size: 48px;
	color: #fff;
	margin-right: auto;
	margin-left: auto; 
}